# Database & dbt
duckdb
dbt-core
dbt-duckdb
dbt-postgres

# Utilities
python-dotenv
requests
scikit-learn
psycopg2-binary
dlt[motherduck]
elementary-data[duckdb]

# Orchestration
dagster
dagster-webserver
dagster-dbt

# Cloud Warehouse
motherduck


